<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwkandroid.lib.common">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".qrcode.QRCodeScanActivity"
            android:theme="@style/BaseActivityStyle"/>
    </application>

</manifest>